* {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}


/* Page layout */

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "header" "title" "footer" "sidebar" "content";
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
}

.grid .header,
.grid .footer,
.grid .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid .header,
.grid .footer {
    background: black;
    color: whitesmoke;
}

.grid .header {
    grid-area: header;
}

.grid .title {
    grid-area: title;
    flex-direction: column;
}

.grid .sidebar {
    grid-area: sidebar;
}

.grid .content {
    grid-area: content;
}

.grid .footer {
    grid-area: footer;
}

.grid>div {
    border: solid 0.5px;
}


/* Modal backdrop - disables all other elements when form is visible */

.modal-backdrop {
    display: block;
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .70;
    filter: alpha(opacity=70);
}


/* Table */

.list-panel {
    border: none;
}

.list-panel .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 20px;
}

.list-panel .panel-footer {
    padding: 5px 20px;
}


/* Form */

.form {
    display: grid;
    grid-template-columns: 1f;
    grid-gap: 5px;
    border: none;
}

.form button {
    margin-right: 5px;
}

.form .form-control,
.form .checkbox-inline {
    margin: 5px 0px 10px 0px;
}

.form label {
    margin: 0;
}

.form input[readonly],
.form input[readonly="readonly"] {
    border: 0;
}

.edit-panel {
    z-index: 1002;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 90%;
    max-height: 100%;
}

.edit-panel .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.edit-panel .panel-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.closeIcon {
    cursor: pointer;
}

div .radio {
    display: block;
}

@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 200px 5fr 1fr;
        grid-template-areas: ". header header ." ". title title ." ". sidebar content ." ". footer footer .";
        grid-auto-rows: minmax(100px, auto);
    }
    .form {
        display: grid;
        grid-template-columns: 1f 2f;
        grid-gap: 20px;
    }
    .form .form-label {
        grid-column: 1 / 2;
    }
    .form .form-control {
        grid-column: 2 / 3;
    }
    .form .button-group {
        grid-column: 2 / 3;
        padding-left: 0;
    }
}