* {
    margin: 0;
    padding: 5px;
}


/* CSS Grid */

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "title" "header" "footer" "sidebar" "content";
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
}

.grid .title {
    grid-area: title
}

.grid .header {
    grid-area: header
}

.grid .sidebar {
    grid-area: sidebar
}

.grid .content {
    grid-area: content
}

.grid .footer {
    grid-area: footer
}

.grid>div {
    border: solid 0.5px;
}

@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-areas: "title title" "header header" "sidebar content" "footer footer";
        grid-auto-rows: minmax(100px, auto);
    }
}

select {
    height: 30px;
    display: block;
}

.modal-backdrop {
    display: block;
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    filter: alpha(opacity=50);
}

.form {
    border: none;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.panel-heading {
    padding: 10px 20px;
}

.panel-body {
    padding: 20px 20px 10px 20px;
}

.add-panel,
.edit-panel {
    z-index: 1002;
    position: absolute;
    top: 55px;
    width: 400px;
    margin: auto;
    left: 50%;
    margin-left: -200px;
}

.form input[readonly],
.form input[readonly="readonly"] {
    border: 0;
    background-color: white;
}

.checkbox {
    padding-bottom: 10px;
}

.closeIcon {
    cursor: pointer;
}

div .radio {
    display: block;
}

form .btn {
    margin: 5px;
}

.list-panel {
    margin-top: 20px;
}

.list-panel .panel-heading {
    overflow: auto;
    padding: 5px 20px;
}

.list-panel .panel-title {
    float: left;
    margin-top: 10px;
}

.list-panel .panel-footer {
    padding: 5px 20px;
}

.list-panel .refresh-button {
    float: right;
}